@import url('global/boilerplate.css');
@import url('global/header.css');
@import url('global/card.css');


/* hero section  */
.hero__section {
    margin-top: 89px;
    width: 100%;
    height: 65vh;
    background-image: linear-gradient(90deg, var(--second-color), var(--main-color)), linear-gradient(-45deg, var(--second-color), rgb(5, 61, 61));
    text-align: center;
    padding-top: 70px;
}
.hero__section h1 {
    font-size: var(--h1);
    color: var(--bg-color);
}
.hero__section p {
    font-size: var(--h3);
    color: var(--accent-text);
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 30px;
}
.hero__form {
    position: relative;
    width: min(750px, 70%);
    margin: 0 auto;
}
.hero__input {
    width: 100%;
    height: 70px;
    border-radius: 35px;
    padding-left: 65px;
    padding-right: 180px;
    font-size: var(--h3);
    font-weight: 100;
    color: var(--gray);
}
.hero__input:focus {
    outline: none;
}
.search {
    position: absolute;    
    fill: var(--text-color);
    width: 2rem;
    height: 2rem;
    margin-top: 22px;
    margin-left: 20px;
}
.search__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 9rem;
    height: 3.3rem;
    border-radius: 30px;
    margin-top: 10px;
    margin-right: 10px;
    z-index: 2;
    font-size: var(--h3);
    color: var(--bg-color);
    font-weight: 600;
    background-color: var(--main-color);
    transition: all 0.3s ease-in;
}
.search__button:hover {
    background-color: var(--accent-bg);
}
.hero__info {
    width: 100%;
    height: 420px;
    background-color: var(--accent-bg);
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    margin-bottom: 40px;
}
.hero__card {
    display: flex;
    position: relative;
    top: -130px;
    width: min(70%, 100%);
    height: 500px;
    margin: auto;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    z-index: 2;
}
.child1 {
    width: 40%;
    height: inherit;
    padding: 40px;
    background-color: var(--bg-color);
}
.child1 h2 {
    font-size: var(--h2);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
 .child1 p {
    font-size: var(--h3);
    line-height: 2rem;
    color: var(--gray);
    width: 90%;
}
.child1 img {
    width: 100%;
    margin-top: 10px;
}
.child2 {
    display: grid;
    width: 60%;
    height: inherit;
    background-image: url('../images/businesswoman-using-tablet-analysis.jpg');
    background-size: cover;
    color: var(--bg-color);
}
.overlay {
    grid-column-start: 1;
    grid-row-start: 1;  
    background-image: linear-gradient(-180deg, var(--main-color), var(--accent-bg));
    opacity: 0.79;
    border-radius: 20px;
    z-index: 1;
}
.main-child {
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 2;
    padding: 40px;
}
.socials {
    display: flex;
}
.main-child div {
    display: flex;
}
.socials>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socials svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--bg-color);
    padding: 8px 8px;
    margin: 0 8px;
    align-self: center;
    background-color: var(--main-color);
    border-radius: 100%;
    transition: all 0.5s ease-in;
}
.socials svg:hover {
    background-color: var(--accent-text);
}
.main-child h2 {
    font-size: var(--h2);
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
}
.main-child p {
    font-size: 1.33rem;
    line-height: 2rem;
    font-weight: 100;
    margin-bottom: 20px;
}
.learn-more a {
    color: var(--bg-color);
    padding: 16px 24px;
    background-color: var(--main-color);
    border-radius: 27px;
    font-size: var(--h3);
    font-weight: 600;
}
.learn-more:hover a{
    background-color: var(--accent-bg);
}
.main-child>.card__image {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    position: absolute;
    bottom: 25px;
} 
.socials>span {
    font-size: var(--h3);
    align-self: center;
    margin-right: 6px;
}
.bookmark>a svg{
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.3s ease;
}
.bookmark>a:hover svg {
    fill: var(--second-color);
}
.tag {
    font-size: 14px;
    background-color: #539cf0;
    align-self: center;
    padding: 6px 6px;
    color: var(--bg-color);
    border-radius: 2px;
}

/* discover section  */
.discover {
    margin-top: 100px;
}
.discover h2 {
    font-size: var(--h2-big);
    text-align: center;
    font-weight: 700;
}
.discover__list {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: inherit;
    margin: 0 auto;
    align-items: center;
}
.discover__list>li {
    position: relative;
    height: inherit;
    padding: 0 20px;
    font-size: var(--h3);
    font-weight: 100;
    color: var(--gray);
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.active-item {
    color: var(--text-color) !important;
    border-bottom: 1px solid var(--text-color);
}
.discover__list>li:hover {
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}
.discover>div {
    width: 100%;
    height: 50px;
    margin: 20px auto;
    border-bottom: 0.8px solid var(--main-color);
}
.discover__list-items {
    position: absolute;
    top: 100px;
    left: -200px;
    width: 1080px;
}
.discover__list-items>ul {
    display: flex;
    justify-content: space-between;
}
.discover__list-items>ul>li {
    width: min(30%, 100%);
    height: auto;
    margin-bottom: 150px;
}


/* how does it works */
.more-info {
    display: grid;
    margin-top: 80vh;
    margin-bottom: 80px;
    width: 100%;
    height: 200vh;
    background-image: url('/images/colleagues-working-cozy-office-medium-shot.jpg');
    background-size: cover;
    background-position: center;
}
.overlay-more {
    grid-column-start: 1;
    grid-row-start: 1;
    background-image: linear-gradient(-180deg, var(--second-color), var(--accent-bg));
    opacity: 0.6;
    z-index: 1;
}
.more-info__items {
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 2;
    padding: 50px;
    color: var(--bg-color);
}
.more-info__items>h2 {
    font-size: var(--h2-big);
    text-align: center;
    color: var(--bg-color);
    margin-top: 50px;
    margin-bottom: 60px;
}
.more-info__items>ul>li {
    display: flex;
    margin-bottom: 80px;
    position: relative;
    /* align-items: baseline; */
}
.more-info__items>ul {
    width: 80%;
    margin: 20px auto;
}
.more-info__items>ul h2 {
    font-size: var(--h2);
    font-weight: 600;
    text-align: left;
    margin-bottom: 15px;
}
.more-info__items>ul>li svg {
    fill: var(--bg-color);
    width: 70px;
    height: 70px;
    padding: 15px;
    margin-right: 40px;
    background-color: var(--main-color);
    border-radius: 100%;
    border: 4px solid var(--bg-color);
    outline: 10px solid var(--main-color);
    align-self: self-start;
}
.more-info__items>ul>li .svg::after {
    content: '';
    position: absolute;
    left: 32px;
    top: 80px;
    height: 100%;
    background-color: var(--main-color);
    width: 8px;
    /* border: 4px solid black; */
}
.more-info__items>ul>li p {
    font-size: var(--h3);
    line-height: var(--h2-big);
    font-weight: 400;
}
.none::after {
    display: none;
}
.more-info__footer {
    display: flex;
    gap: 15px;
    width: 60%;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10%;
}
.more-info__footer p {
    font-size: var(--h3)
}
.more-info__footer>div>.btn {
    background-color: transparent !important;
    border: 2px solid var(--main-color) !important;
    padding: 9px 15px !important;
    color: var(--main-color) !important;
    transition: all 0.3s ease-in;
}
.more-info__footer>div>.btn:hover {
    background-color: var(--main-color) !important;
    color: var(--bg-color) !important;
}

/* faqs section  */
.asked-question {
    width: 100%;
    height: auto;
    padding: 0 100px;
}
.asked-question>h2 {
    font-size: var(--h2-big);
}
.asked-question>div {
    display: flex;
    width: 100%;
    height: 70vh;
    margin: 20px auto 0 auto;
    gap: 20px;
}
.faq-img {
    width: 80%;
    height: inherit;
}
.asked-question img {
    width: 100%;
    height: inherit;
}
.faq-main {
    width: 100%;
    height: inherit;
    margin-top: 50px;
}
.faq-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: var(--h3);
    color: var(--text-color);
    padding: 10px 15px;
    border-radius: 30px;
    margin-bottom: 10px;
}
.faq-heading-active {
    background-color: var(--gray);
    color: var(--bg-color);
    padding: 10px 15px !important;
    margin-bottom: 30px !important;
}
.faq-heading:active {
    border: 4px solid var(--gray);
}
.faq-heading svg {
    fill: var(--gray);
    width: 2rem;
    height: 2rem;
}
.faq-heading .svg-active {
    fill: var(--bg-color);
    width: 2rem;
    height: 2rem;
}
cite {
    color: red;
}
.faq-main p {
    display: none;
    padding: 0 15px;
    font-size: var(--p);
    line-height: var(--h2-big);
    margin-bottom: 15px;
}
.faq-main .p-active {
    display: block;
}

