@import url('global/boilerplate.css');
@import url('global/header.css');


/* hero section  */
.hero__section {
    margin-top: 89px;
    width: 100%;
    height: 65vh;
    background-image: linear-gradient(90deg, var(--second-color), var(--main-color)), linear-gradient(-45deg, var(--second-color), rgb(5, 61, 61));
    text-align: center;
    padding-top: 70px;
}
.hero__section h1 {
    font-size: var(--h1);
    color: var(--bg-color);
}
.hero__section p {
    font-size: var(--h3);
    color: var(--accent-text);
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 30px;
}
.hero__form {
    position: relative;
    width: min(750px, 70%);
    margin: 0 auto;
}
.hero__input {
    width: 100%;
    height: 70px;
    border-radius: 35px;
    padding-left: 65px;
    padding-right: 180px;
    font-size: var(--h3);
    font-weight: 100;
    color: var(--gray);
}
.hero__input:focus {
    outline: none;
}
.search {
    position: absolute;    
    fill: var(--text-color);
    width: 2rem;
    height: 2rem;
    margin-top: 22px;
    margin-left: 20px;
}
.search__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 9rem;
    height: 3.3rem;
    border-radius: 30px;
    margin-top: 10px;
    margin-right: 10px;
    z-index: 2;
    background-color: var(--main-color);
    transition: all 0.3s ease-in;
}
.search__button:hover {
    background-color: var(--second-color);
}
.hero__card {
    display: flex;
    position: relative;
    top: -130px;
    width: min(70%, 100%);
    height: 500px;
    margin: auto;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    z-index: 2;
}
.card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.19), -2px -2px 30px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}
.child1 {
    width: 40%;
    height: inherit;
    padding: 40px;
    background-color: var(--bg-color);
}
.child1 h2 {
    font-size: var(--h2);
    margin-bottom: 10px;
}
.child1 p {
    font-size: var(--h3);
    line-height: 2rem;
    color: var(--gray);
    width: 90%;
}
.child1 img {
    width: 100%;
    margin-top: 10px;
}
.child2 {
    display: grid;
    width: 60%;
    height: inherit;
    background-image: url('../images/businesswoman-using-tablet-analysis.jpg');
    background-size: cover;
    color: var(--bg-color);
}
.overlay {
    grid-column-start: 1;
    grid-row-start: 1;  
    background-image: linear-gradient(45deg, var(--main-color), var(--second-color));
    opacity: 0.79;
    border-radius: 20px;
    z-index: 1;
}
.main-child {
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 2;
    padding: 40px;
}
.socials {
    display: flex;
}
.main-child div {
    display: flex;
}
.socials>ul {
    display: flex;
    justify-content: space-between;
}
.socials svg {
    width: 3rem;
    height: 3rem;
    fill: var(--bg-color);
}
